@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.chat__button {
  position: fixed;
  right: 32px;
  bottom: 32px;
  cursor: pointer;
  border-radius: 50px;
  height: 48px;
  width: 48px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343434;
  transition: 300ms;
}

.chat__button:hover {
  background: #5DFED6;
  color: black;
}

.chat {
  position: fixed;
  opacity: 0;
  right: 32px;
  bottom: 90px;
  z-index: 1000;
  border-radius: 32px;
  border: 1px solid var(--Cinza-Escuro, #343434);
  background: #FFF;
  display: flex;
  width: 354px;
  padding: 32px 16px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  transition: linear 0.3s, opacity 0.3s;
  align-items: baseline;
}

.chat__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 16px;
}

.header__button {
  display: flex;
  background-color: #fff;
  padding: 4px 8px;
  justify-content: center;
  margin-right: 32px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #EFEFEF;
  color: #343434;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.chat__perfil {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343434;
  border-radius: 50px;
}

.chat__help {
  padding: 0 16px;
}

.help__text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

.chat__box {
  width: 354px;
  height: 100%;
  display: flex;
  border: solid 1px #343434;
  border-width: 1px 0 0 0;
}

.box__all__messages {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 354px;
  padding: 32px 0;
}

.box__messages {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.messages__history {
  color: #C4C4C4;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chat__input-button {
  display: flex;
}

.chat__input {
  padding: 0px 16px;
  border-radius: 16px;
  height: 40px;
  border: 1px solid var(--Cinza, #C4C4C4);
  width: 264px;
  transition: 300ms;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chat__input:focus {
  outline: none;
  border: 1px solid var(--Cinza, #45E6BF);
}

.chat__button--send {
  display: flex;
  width: 50px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: none;
  background: var(--Verde-Claro, #5DFED6);
  margin-left: 8px;
  cursor: pointer;
  transition: 300ms;
}

.chat__button--send:hover {
  background: var(--Verde, #45E6BF);
}

.send__image{
  transition: 200ms;
}

.box__message {
  display: flex;
  width: 100%;
}

.message__text {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 70%;
  padding: 8px 16px;
  border: 1px solid var(--Cinza-Claro, #E5E5E5);
  align-self: end;
  margin-bottom: 10px;
}


.div__scroll {
  max-height: 118px;
  overflow: auto;
}

.div__scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.div__scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
.div__scroll::-webkit-scrollbar-thumb {
  background: #343434;
  border-radius: 5px;
}

/* Handle on hover */
.div__scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.box__date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.date__text {
  color: var(--Cinza-Escuro, #343434);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #EFEFEF;
}

@media screen and (max-width: 680px) {
  .chat__button {
    right: 16px;
    bottom: 16px;
  }

  .chat {
    width: 325px;
    right: 16px;
  }

  .chat__box {
    width: 325px;
  }

  .box__messages {
    width: 325px;
  }

  .box__all__messages {
    min-width: 325px;
  }
}