.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 83px;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.content__close {
  border: none;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
}

.content__text-modal {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 95.833% */
  letter-spacing: -0.36px;
  text-align: center;
}