.card {
  width: 100%;
  height: 258px;
}

.card__title {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: -0.36px;
  margin-bottom: 16px;
}

.card__text {
  color: rgba(0, 0, 0, 0.80);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.27px;
  margin-bottom: 16px;
}

.card__link {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--Cinza, #C4C4C4);
  width: 110px;
  text-decoration: none;
  transition: 300ms;
}

.card__link:hover {
  border-radius: 4px;
  border: 1px solid var(--Cinza-Escuro, #343434);
}

.link__text {
  color: var(--Cinza-Escuro, #343434);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}